* {
    box-sizing: border-box;
    font-family: Courier New, Courier, monospace;
    background-color: #101010;
    color: white;
}

html {
    height: 100%;
}

img {
    border-radius: 5px;
}

body div, body div * {
    background-color: black;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    height: inherit;
    margin: 0;
}

#hero {
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    padding: 50px;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 30px;
    min-height: 10vh;
    flex-grow: 1;
}

    .content img {
        height: 100%;
        margin-right: 30px;
    }

.footer {
    padding: 30px;
    text-align: left;
}

.social-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.social-link {
    padding: 10px;
    margin: 0 7px;
    transition-duration: .4s;
    height: min-content;
    display: block;
}

a.social-link:first-of-type {
    margin-left: 0;
}

.social-link i {
    background-color: transparent;
}

.social-link:hover {
    background: #83201bd4;
    border-radius: 15px;
}
