/*
    Colour palette reference
    Raw Umber       #786452
    Black           #000000
    Blue Crayola    #3772FF
    Olivine         #ACC18A
    Carolina Blue   #009DDC
*/



* {
    box-sizing: border-box;
    font-family: Courier New, Courier, monospace;
    background-color: #786452;
    color: white;
}

html {
    height:100%;
}

img {
    border-radius: 5px;
    
}

body div, body div * {
    background-color: #000000;
}

body {
    text-align:center;
    margin: 10px;
    display:flex;
    flex-direction:column;
    height: 100%;
}

#hero {
    font-size: 5vh;
    font-weight: 100;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-block-size: 15vh;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    min-height: 10vh;
    flex-grow: 3;
    justify-content: space-evenly;
}

.content p {
    text-align: left;
}

.footer {
    padding: 2vh;
}

.social-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.social-link {
    padding: 10px;
    margin: 0 7px;
    transition-duration: .4s;
    height: min-content;
    display: block;
}

.social-link i {
    background-color: transparent;
    font-size: 5vh;
}

    .social-link:hover {
        background-color: #3772ff;
        border-radius: 8px;
    }